{# Documentation:
    Required inputs:
      system_priority = New System Priority
      commit_label: Label used for this commit
#}
!
lacp system priority {{ system_priority }}
!
commit label {{ commit_label }}
!
